

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid bg-primary">
    <a class="navbar-brand ms-5" href="#"> 
      <img src="/public/images/flip.jpg" alt="Bootstrap" width="100" height="40" class="bg-bark border-success" data-bs-theme="dark">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/admin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/product">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
