<div class="main">
    <div class="main1 same-main">
      <a href="/product/getProduct">
        <img class="same-img" src="/public/images/grocery.webp" alt="image" />
        <p class="same-para">Grocery</p>
       </a> 
    </div>

    <div class="main2 same-main">
       <a href="/product/getProduct">  
        <img class="same-img" src="/public/images/mobile.webp" alt="image" />
        <p class="same-para">Mobiles</p>
      </a>  
    </div>

    <div class="main3 same-main">
       <a href="/product/getProduct">  
        <img class="same-img" src="/public/images/fashion.webp" alt="image" />
        <p class="same-para">Fashion</p>
       </a> 
    </div>

    <div class="main4 same-main">
       <a href="/product/getProduct">  
        <img class="same-img" src="/public/images/electronics.webp" alt="image" />
        <p class="same-para">Electronics</p>
      </a>   
    </div>

    <div class="main5 same-main">
      <a href="/product/getProduct">  
        <img class="same-img" src="/public/images/furniture.webp" alt="image" />
        <p class="same-para">Furniture</p>
      </a>   
    </div>

    <div class="main6 same-main">
       <a href="/product/getProduct">  
        <img class="same-img" src="/public/images/appliances.webp" alt="image" />
        <p class="same-para">Appliances</p>
       </a>   
    </div>

    <div class="main7 same-main">
     <a href="/product/getProduct">
        <img class="same-img" src="/public/images/travel.webp" alt="image" />
        <p class="same-para">Travel</p>
     </a>    
    </div>

    <div class="main8 same-main">
      <a href="/product/getProduct">
        <img class="same-img" src="/public/images/toys.webp" alt="image" />
        <p class="same-para">Toys</p>
     </a>   
    </div>

    <div class="main9 same-main">
      <a href="/product/getProduct">
        <img class="same-img" src="/public/images/wheelers.webp" alt="image" />
        <p class="same-para">Bikes</p>
      </a>   
    </div>

</div>

<div id="carouselExample" class="carousel slide same" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/public/images/slide1.webp" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="/public/images/slide2.webp" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="/public/images/slide3.webp" class="d-block w-100" alt="Slide 3">
      </div>
      <div class="carousel-item">
        <img src="/public/images/slide4.webp" class="d-block w-100" alt="Slide 4">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="discount same mt-3 border border-dark">
    <img src="/public/images/discount.webp" alt="discount" />
  </div>