<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs') %>
    <title>Admin Dashboard</title>
</head>
<body>

    <%- include('partials/admin_nav.ejs') %>
 
    <% if (locals.message) { %>
        <div class="container text-center mt-3">
            <h3>Welcome <%= message %></h3>
         </div>
    <% }  %>


    <%-include('partials/scripts.ejs') %>
</body>
</html>