<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs') %>
    <title>Cart</title>
</head>
<body>
    
    <%-include('partials/nav.ejs') %> 

    <div class="text-center">
            <h2>My Cart</h2>
    </div>
   


    <%-include('partials/scripts.ejs') %>
   
</body>
</html>