.hidden-div {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 13rem;
    top: 3.5rem;
    z-index: 1;
}

#hoveronme:hover + .hidden-div, .hidden-div:hover {
    display: block;
   
}

.parent{
    display: flex;
    gap: 2.5em;
    align-items: center;
    padding: 1rem 1rem;
}

.item1{
   font-size: 0.8rem;
   width: 6rem;
}

.parent a{
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list .item {
    padding: 1rem 1rem;
}

.item a{
    text-decoration: none;
    font-size: 0.9rem;
}

.main{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem auto 1rem auto ; 
    border: 1px solid blue;
}

.same-img{
    width: 3rem;
    margin-bottom: 0.5rem;
}

.same-main{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center; 
}

.same-para{
    text-align: center;
    color: black;
    width: 4rem;
}

.main a{
    text-decoration: none;
}

.same{
    width: 95%;
    margin: auto;
}

.same-main:hover{
    transform: scale(1.1);
    transition: tranform 0.8s smooth;
}


.discount img{
    width: 100%;
}

.pop {
    position: absolute;
    bottom: 0.1rem;
   
}
